img {
  border-radius: 10px;
}

.item img {
  width: 100%;
}

@media (min-width: 767px) {
  .item img {
    width: 100%;
    height: 30vh;
  }
}

@media (min-width: 991px) {
  .tour-item img {
    width: 100%;
    height: 61.5vh;
  }
}
@media (min-width: 500px) and(max-width: 990px) {
  .tour-item img {
    /* width: 100%; */
    height: 61.5vh;
  }
}

/* @media (min-width:991px) and (max-width:1284px) {
    .item img {
      width: 100%;
      height: 30vh;
      border-radius: 10px;
    }
    
  } */
